*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.work-sans {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  
}
#hero{
 background-image: url(../images/banner/banner1.png);
 width: 100%;
 height: 100vh;
 display: flex;
 justify-content: end;
    align-items: center;
}
#hero-text{
  width: 40%;
   padding-right: 230px;
   margin-top: 216px;
  
}
#hero-text h1{
    font-size: 64px;
    font-weight: 900;
    color: black;
    
}
   
    
    