*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.work-sans {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  
}
#hero{
 background-image: url(../images/banner/banner1.png);
 width: 100%;
 
 display: flex;
 justify-content: end;
    align-items: center;
}
#hero-text{
  width: 40%;
   margin-right: 230px;
   margin-top: 216px;
   margin-bottom: 175px;
   text-align: end;
  
}
#hero-text h1{
    font-size: 64px;
    font-weight: 900;
    color: black;
    margin-bottom: 15px;
    
}
#hero-text p{
    font-size: 16px;
    color: black;
    margin-bottom: 25px;
    color:#444343;
    
}
.btn{
  background-color:#F15B22 ;
  color: white;
  font-size: 18px;
  padding: 21px 25px ;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
    
    