*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.work-sans {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  
}
#hero{
 background-image: url(../images/banner/banner1.png);
 width: 100%;
 
 display: flex;
 justify-content: end;
    align-items: center;
    margin-bottom: 121px;
}
#hero-text{
  width: 40%;
   margin-right: 230px;
   margin-top: 216px;
   margin-bottom: 175px;
   text-align: end;
  
}
#hero-text h1{
    font-size: 64px;
    font-weight: 900;
    color: black;
    margin-bottom: 15px;
    
}
.subtitle{
    font-size: 16px;
    margin-bottom: 25px;
    
   
    color:#444343;
    
}
.hero-subtile{
    margin-bottom: 32px;
    color: #444343;
}
.btn{
  background-color:#F15B22 ;
  color: white;
  font-size: 18px;
  padding: 21px 25px ;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

/* failures section  */

#failure-section{
  width: 71%;
  max-width: 1141px;
  margin: 0 auto;
  margin-bottom: 123px;
  
  
}
#failure-container{
  display: flex;
  gap: 87px;
  align-items: center;

}
.failure-text h2{
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 24px;
}
.failure-text ul li{
  list-style: none;
  margin-bottom: 8px;
  color: #444343;
}
.failure-text ul li i{
  color: forestgreen;
}
/* failure section complete  */
/* plans section  */
#plan-section{
  width: 71%;
  max-width: 1141px;
  margin: 0 auto;
  margin-bottom: 129px;
  
  
}
.plan-container h2{
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 55px;
}
.plans{
  display: flex;
  justify-content: space-between;
}
.plan h4{
  margin-top: 20px;
  font-size: 30px;
  margin-bottom: 20px;
  text-align: center;
}
.plan-img-box{
  display: flex;
  justify-content: center;
}
.plan p{
  text-align: center;
  color: #444343;
  font-size: 16px;
}

    
    